<%- include('../partials/header') %>

<main>
    <% if (coin) { %>
        <h2><%= coin.name %> Details</h2>
        <p>Symbol: <%= coin.symbol.toUpperCase() %></p>
        <p>Current Price: $<%= coin.market_data.current_price.usd.toFixed(2) %></p>
        <p>Market Cap: $<%= coin.market_data.market_cap.usd.toLocaleString() %></p>
        <p>Total Volume: $<%= coin.market_data.total_volume.usd.toLocaleString() %></p>
        <p>24h High: $<%= coin.market_data.high_24h.usd.toFixed(2) %></p>
        <p>24h Low: $<%= coin.market_data.low_24h.usd.toFixed(2) %></p>
        <p>Description: <%= coin.description.en %></p>
        <h3>Market Data</h3>
        <p>Market Cap Rank: <%= coin.market_cap_rank %></p>
        <p>Circulating Supply: <%= coin.market_data.circulating_supply.toLocaleString() %> <%= coin.symbol.toUpperCase() %></p>
        <p>Total Supply: <%= coin.market_data.total_supply ? coin.market_data.total_supply.toLocaleString() : 'N/A' %> <%= coin.symbol.toUpperCase() %></p>
    <% } else { %>
        <p>Sorry, no data available for this cryptocurrency.</p>
    <% } %>
</main>

<%- include('../partials/footer') %>
